<div class="head">
    <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, odio, molestiae ipsa nostrum voluptatum perspiciatis culpa animi optio officia aliquam aspernatur consectetur officiis quis. Provident eos iste nostrum doloribus ipsum!</div>
    <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, odio, molestiae ipsa nostrum voluptatum perspiciatis culpa animi optio officia aliquam aspernatur consectetur officiis quis. Provident eos iste nostrum doloribus ipsum!</div>
    <div class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, odio, molestiae ipsa nostrum voluptatum perspiciatis culpa animi optio officia aliquam aspernatur consectetur officiis quis. Provident eos iste nostrum doloribus ipsum!</div>
</div>
